// Your application styles go here
@import "../lib/ionic/scss/ionic";

.item-note-result {
  color: #444;
}

.item-note-result-mark {
  color: #000;
  font-weight: bold;
}

.item-divider {
  font-weight: bold;
}

input.property-value {
  line-height: 1em;
  font-size: 1.2em;
}

.platform-ios input.property-value {
  line-height: 1.8em;
}

.toggle.toggle-calm input:checked + .track {
  border-color: $energized;
  background-color: $energized;
}

.item-divider.note {
  color: #444;
  font-weight: normal;
  font-size: 0.9em;
}

