// Your application styles go here

ion-header-bar h1.title {
  padding-left: 6px;
}

.item-note-result {
  color: #444;
}

.item-note-result-mark {
  color: #000;
  font-weight: bold;
}

.item-divider {
  font-weight: bold;
}

.navigation {
  margin-top: 2em;
}

input.property-value {
  line-height: 1em;
  font-size: 1.2em;
}

.platform-ios input.property-value {
  line-height: 1.8em;
}

.toggle.toggle-custom input:checked + .track {
  //border-color: #FFAD00;
  //background-color: #FFAD00;
}

.item-divider.note {
  color: #444;
  font-weight: normal;
  font-size: 0.9em;
}

.bar-darkish {
  background-color: #555555;
  h1.title {
    color: #EEEEEE;
    font-weight: bold;
  }

  .icon {
    color: #EEEEEE;
  }
}
