node_modules
www
.tmp
.sass-cache
app/lib/*
!app/lib/ionic/scss/ionicons
!app/lib/ionic/scss/ionicons/*
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
.idea
.editorconfig
app/scripts/config.js
resources/*.psd
resources/android
resources/ios
app/app.iml
