<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Stamp Duty Calculator</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="Sdc">

    <ion-pane ng-controller="MainCtrl">
      <ion-content>
        <div class="item item-divider">
          Enter your details
        </div>

        <div class="item">
          <label class="item item-input">
            <i class="icon ion-social-usd placeholder-icon"></i>
            <input class="property-value" type="number" ng-model="data.propertyValue" placeholder="Enter property value">
          </label>
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            State / Territory
          </div>
          <select ng-model="data.propertyState">
            <option ng-repeat="state in stateOptions" value="{{state.name}}">{{state.name}}</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Property type
          </div>
          <select ng-model="data.purpose">
            <option value="residential">Primary Residence</option>
            <option value="investment">Investment</option>
          </select>
        </label>

        <ion-toggle ng-model="data.firstHome" toggle-class="toggle-calm">First Home Buyer?</ion-toggle>

        <label class="item item-input item-select">
          <div class="input-label">
            Are you purchasing
          </div>
          <select ng-model="data.propertyStatus">
            <option value="established">An established property</option>
            <option value="newbuild">A newly constructed home</option>
            <option value="vacant" ng-if="data.propertyState != 'SA'">Vacant Land</option>
          </select>
        </label>

        <div ng-if="data.propertyState == 'ACT'">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Total income of purchase(s):</span>
            <input type="number" placeholder="$0.00" ng-model="data.income">
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Number of dependent children:
            </div>
            <select ng-model="data.propertyDependents">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5 or more</option>
            </select>
          </label>
        </div>

        <div ng-if="data.propertyState == 'ACT' || data.propertyState == 'NT' || data.propertyState == 'VIC'">
          <ion-toggle ng-model="data.pensioner" toggle-class="toggle-calm">Eligible Pensioner</ion-toggle>
        </div>

        <div ng-if="data.propertyState == 'VIC'">
          <div class="item item-input item-select">
            <div class="input-label">
              Payment method:
            </div>
            <select ng-model="data.paymentMethod">
              <option value="paper">Paper transaction</option>
              <option value="electronic">Electronic transaction</option>
            </select>
          </div>
        </div>

        <div ng-if="data.propertyState == 'WA'">
          <div class="item item-input item-select">
            <div class="input-label">
              Property Location:
            </div>
            <select ng-model="data.propertyLocation">
              <option value="south">South of the 26th parallel (from Kalbarri 6536)</option>
              <option value="north">North of the 26th parallel (from Denham 6537)</option>
            </select>
          </div>
        </div>


        <div class="item item-divider">
          Results
        </div>

        <div class="item bar-assertive">
          Stamp duty on Property: <span class="item-note">{{data.results.propertyDuty | currency}}</span>
        </div>
        <div class="item bar-assertive">
          Mortgage registration fee: <span class="item-note">{{data.results.mortgageFee | currency}}</span>
        </div>
        <div class="item bar-assertive">
          Transfer fee: <span class="item-note">{{data.results.transferFee | currency}}</span>
        </div>

        <div class="item bar-assertive">
          Total Government Fees: <span class="item-note item-note-result-mark">{{ data.results.total | currency }} *</span>
        </div>

        <div class="item item-text-wrap">
          <p>* Please note, that the information provided by the calculator is intended to provide illustrative examples based on stated assumptions and your inputs. Calculations are meant as estimates only and it is advised that you consult with a mortgage broker about your specific circumstances.</p>
        </div>

      </ion-content>
    </ion-pane>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic/release/js/ionic.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


        <!-- build:js scripts/scripts.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/geo.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/calculator.js"></script>
        <!-- endbuild -->
</body>
</html>
