<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Stamp Duty Calculator</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="Sdc">
    <ion-pane ng-controller="MainCtrl">
      <ion-header-bar class="bar-darkish bar-header-ionic-fix">
        <h1 class="title">Stamp Duty AU</h1>
        <div class="buttons">
          <button class="button button-icon icon ion-android-more-vertical" ng-click="openMenuPopover($event)"></button>
        </div>
      </ion-header-bar>

      <ion-content>
        <div class="item item-divider">
          Enter your details
        </div>

        <div class="item">
          <label class="item item-input">
            <i class="icon ion-social-usd placeholder-icon"></i>
            <input class="property-value" type="text" ng-change="propertyValueFormatted()" ng-model="data.propertyValue" placeholder="Enter property value">
          </label>
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            State / Territory
          </div>
          <select ng-model="data.propertyState">
            <option ng-repeat="state in stateOptions" value="{{state.name}}">{{state.name}}</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Property type
          </div>
          <select ng-model="data.purpose">
            <option value="residential">Primary Residence</option>
            <option value="investment">Investment</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Purchasing
          </div>
          <select ng-model="data.propertyStatus">
            <option value="established">an established property</option>
            <option value="newbuild">a newly constructed home</option>
            <option value="vacant" ng-show="data.propertyState != 'SA'">vacant land</option>
          </select>
        </label>

        <ion-toggle ng-model="data.firstHome" toggle-class="toggle-energized">First Home Buyer</ion-toggle>

        <div ng-show="data.propertyState == 'ACT' && data.purpose == 'residential'">
          <div class="item item-divider item-text-wrap note">The following questions determine if you're eligible for a concessional rate.</div>

          <label class="item item-input item-select">
            <div class="input-label">Total income</div>
            <select ng-model="data.income">
              <option value="0">less than $160,000</option>
              <option value="160001">$160,001 to $163,330</option>
              <option value="163331">$163,331 to $166,660</option>
              <option value="166661">$166,661 to $169,990</option>
              <option value="169991">$169,991 to $173,320</option>
              <option value="173321">$173,321 to $176,650</option>
              <option value="176650">more than $176,650</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Dependents</div>
            <select ng-model="data.propertyDependents">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5 or more</option>
            </select>
          </label>
        </div>

        <div ng-show="data.propertyState == 'ACT' || data.propertyState == 'NT' || data.propertyState == 'VIC'">
          <ion-toggle ng-model="data.pensioner" toggle-class="toggle-calm">Eligible Pensioner</ion-toggle>
        </div>

        <div ng-show="data.propertyState == 'VIC'">
          <div class="item item-input item-select">
            <div class="input-label">
              Payment method:
            </div>
            <select ng-model="data.paymentMethod">
              <option value="paper">Paper transaction</option>
              <option value="electronic">Electronic transaction</option>
            </select>
          </div>
        </div>

        <div ng-show="data.propertyState == 'WA' && data.firstHome">
          <div class="item item-input item-select">
            <div class="input-label">
              Location:
            </div>
            <select ng-model="data.propertyLocation">
              <option value="south">South of Kalbarri (26&deg;)</option>
              <option value="north">North of Denham (26&deg;)</option>
            </select>
          </div>
        </div>

        <div class="item item-divider">
          Results
        </div>

        <div class="item bar-assertive">
          Stamp duty on Property<span class="item-note">{{results.propertyDuty | currency}}</span>
        </div>
        <div class="item bar-assertive">
          Mortgage registration fee<span class="item-note">{{results.mortgageFee | currency}}</span>
        </div>
        <div class="item bar-assertive">
          Transfer fee<span class="item-note">{{results.transferFee | currency}}</span>
        </div>

        <div class="item bar-assertive">
          Total Government Fees<span class="item-note item-note-result-mark">{{ results.total | currency }}</span>
        </div>

        <div ng-show="results.grants.fhog >= 0">
          <div class="item bar-assertive">
            First Home Owners Grant<span class="item-note item-note-result">{{results.grants.fhog | currency}}</span>
          </div>
        </div>

        <div ng-show="results.grants.nhg >= 0">
          <div class="item bar-assertive">
            New Home Grant<span class="item-note item-note-result">{{results.grants.nhg | currency}}</span>
          </div>
        </div>

        <div ng-show="results.grants.fhbb >= 0">
          <div class="item bar-assertive">
            First Home Builder Boost<span class="item-note item-note-result">{{results.grants.fhbb | currency}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col col-center-close">
            <button class="button button-light icon-left ion-ios-email-outline" ng-click="emailResults()">Email</button>
            <button class="button button-light icon-left ion-ios-download-outline" ng-click="storeHistory()" ng-if="flags.changesMade">Save</button>
            <button disabled class="button button-light icon-left ion-ios-download-outline" ng-if="!flags.changesMade">Saved</button>
          </div>
        </div>

        <div class="item item-text-wrap">
          <p>Please note, that the information provided by the calculator is intended to provide illustrative examples based on stated assumptions and your inputs. Calculations are meant as estimates only and it is advised that you consult with a mortgage broker about your specific circumstances.</p>
        </div>
      </ion-content>
    </ion-pane>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/ionic/release/js/ionic.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/geo.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/calculator.js"></script>
        <script src="scripts/directives/emailtemplate.js"></script>
        <!-- endbuild -->
</body>
</html>
