<div class="modal">
  <ion-header-bar>
    <h1 class="title">About</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty" ng-click="closeAboutModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="item-body item-text-wrap">

      <strong>Stamp Duty AU Calculator</strong><br />
      Version {{ version }}

      <p>Copyright 2015 <a href="http://akb.com.au">AKB Web Services</a></p>

      <p>The Stamp Duty AU calculator is a free and open source mobile application built for <a href="https://play.google.com/store/apps/details?id=com.akbweb.sdc">Android</a> and <a href="https://play.google.com/store/apps/details?id=com.akbweb.sdc">iOS</a> using the mobile framework <a href="http://ionicframework.com" target="_blank">Ionic</a>.</p>

      <p>The application was written by <a href="http://alexbergin.com" target="_blank">Alex Bergin</a> who can be contacted via email on: <a href="mailto:alex.bergin@gmail.com">alex.bergin@gmail.com</a>.</p>

      <p>To access the Stamp Duty AU source code please visit: <a href="https://github.com/alexkb/sdc">github.com/alexkb/sdc</a>.</p>
    </div>
  </ion-content>
</div>
