<div class="modal">
  <ion-header-bar>
    <h1 class="title">About</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty" ng-click="closeAboutModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="item-body item-text-wrap">

      <img src="gfx/sdc-icon.png" class="sdc-logo" />
      <p><strong>Stamp Duty AU Calculator</strong><br />
      Version {{ version }}</p>

      <p>Copyright &copy; 2015 <a href="#" onClick="window.open('http://akb.com.au', '_system', 'location=yes'); return false;">AKB Web Services</a></p>

      <p>The Stamp Duty AU calculator is a free and open source mobile application built for <a href="#" onClick="window.open('https://play.google.com/store/apps/details?id=com.akbweb.sdc', '_system', 'location=yes'); return false;">Android</a> and <a href="#" onClick="window.open('https://itunes.apple.com/au/app/stamp-duty-calculator-au/id963714259', '_system', 'location=yes'); return false;">iOS</a> using the mobile framework <a href="#" onClick="window.open('http://ionicframework.com', '_system', 'location=yes'); return false;">Ionic</a>.</p>

      <p>The application was written by <a href="#" onClick="window.open('http://alexbergin.com', '_system', 'location=yes'); return false;">Alex Bergin</a> who can be contacted via email on: <a href="#" onClick="window.open('mailto:alex.bergin@gmail.com', '_system', 'location=yes'); return false;">alex.bergin@gmail.com</a> or <a href="#" onClick="window.open('https://twitter.com/alexbergin', '_system', 'location=yes'); return false;">twitter</a>.</p>

      <p>To access the Stamp Duty AU source code visit: <a href="#" onClick="window.open('https://github.com/alexkb/sdc', '_system', 'location=yes'); return false;">github.com/alexkb/sdc</a>.</p>

      <div class="col col-center-close">
        <button class="button button-light icon-left ion-ios-close-empty" ng-click="closeAboutModal()">Close</button>
      </div>
    </div>
  </ion-content>
</div>
