<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item item-icon-left" ng-click="loadHistoryOptions()"><i class="icon ion-ios-upload-outline"></i> Load saved</a>
      <a class="item item-icon-left" ng-click="emailResults()"><i class="icon ion-ios-email-outline"></i> Email results</a>
      <a class="item item-icon-left" ng-click="clearInputs()"><i class="icon ion-ios-trash-outline"></i> Clear calculator</a>
      <a class="item item-icon-left" ng-click="about()"><i class="icon ion-ios-information-outline"></i> About</a>
      <a class="item item-icon-left" ng-click="closePopover()"><i class="icon ion-ios-close-empty"></i> Close</a>
    </div>

    </div>
  </ion-content>
</ion-popover-view>
