<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item item-icon-left" ng-click="emailResults()"><i class="icon ion-email"></i> Email results</a>
      <a class="item item-icon-left" ng-click="loadHistoryOptions()"><i class="icon ion-archive"></i> Load previous</a>
      <a class="item item-icon-left" ng-click="clearInputs()"><i class="icon ion-trash-a"></i> Reset calculator</a>
      <a class="item item-icon-left" ng-click="about()"><i class="icon ion-ios-information"></i> About</a>
      <a class="item item-icon-left" ng-click="closePopover()"><i class="icon ion-ios-close-empty"></i> Close</a>
    </div>

    </div>
  </ion-content>
</ion-popover-view>
