<div class="modal">
  <ion-header-bar>
    <h1 class="title">Saved entries</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty" ng-click="closePrevResultsModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div ng-if="history.length === 0">
        <div class="item-body item-text-wrap">No previous results are available at this time.</div>
      </div>
      <div ng-repeat="(key, value) in history">
        <a class="item item-icon-right" ng-click="loadHistory(key)">
          ${{ value.data.propertyValue || '0' }} at {{ value.results.calculateTime | date : 'H:mm d MMM yyyy' }} <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>

      <div class="row">
        <div class="col col-center-close">
          <button class="button button-light icon-left ion-ios-close-empty" ng-click="closePrevResultsModal()">Close</button>
        </div>
      </div>
    </div>
  </ion-content>
</div>
